.bg-color-auth {
  background: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 105, 255, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
